.root{
    -fx-background: #3c6bd5;
}

.borderPane{

}

.button{
    -fx-background-color: White;
    -fx-border-radius: 10;
}

.upperGameNameHeader {
    -fx-text-fill: white;
    -fx-font: bold italic 40pt "Arial";
}

.startGame{
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-background-color: #eb2026;
    -fx-font: bold italic 15pt "Arial";
}

.table-view {
    -fx-font: bold italic 11pt "Arial";
    -fx-background-color: white;
}

.table-view .column-header {
    -fx-background-color: #eb2026;
}

.table-view .column-header-background .label{
    -fx-text-fill: white;
}